includes:
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    parallel:
        processTimeout: 90.0
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        -
            message: '#^Dynamic call to static method PHPUnit\\Framework\\(TestCase|Assert)::[a-zA-Z]+\(\)\.$#'
            path: %currentWorkingDirectory%/*
